body {
	/*background-color: #f2f2f2;*/
	font-family: MullerMedium;
}

input[type=text] ,
input[type=submit],
button {
	outline:none;
	font-family: 'MullerMedium';
	font-size: 14px;
	text-align: left;
	line-height: 1.214em;
}

.container {
	max-width: 1170px;
	width: 100%;
	min-height: 400px;
	margin: auto;
	/*padding: 15px;*/
}

.page-title {
	margin: 22px auto;
	line-height: 2;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: "MullerHeavy";
	text-transform: uppercase;
	text-align: center;
	color: rgb( 30, 50, 76 );
}
