.moto_SHAR {
font-size: 10.581px;
font-family: "Muller";
color: rgb( 215, 215, 215 );
line-height: 1.814;
text-align: center;
-moz-transform: matrix( 7.29446460348753,0,0,7.29446460348752,0,0);
-webkit-transform: matrix( 7.29446460348753,0,0,7.29446460348752,0,0);
-ms-transform: matrix( 7.29446460348753,0,0,7.29446460348752,0,0);
}
.Мотоциклы_из_Японии_под_заказ {
font-size: 30px;
font-family: "Muller";
color: rgb( 215, 215, 215 );
font-weight: bold;
line-height: 2.049;
text-align: left;
}
section width: 570px
input width: 230px
<> 90
size bettwin logo and below thing
80px
after 100
name input .Прямоугольник_4_копия_5 {
	border-width: 1px;
	border-color: rgb( 255, 255, 255 );
	border-style: solid;
	width: 235px;
	height: 0;
}
._7__________________ {
	font-size: 18px;
	font-family: "Muller";
	color: rgb( 255, 255, 255 );
	line-height: 0.944;
	text-align: left;
}
.Заказать_звонок {
	font-size: 16px;
	font-family: "Muller";
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 1.063;
	text-align: left;
}
.Прямоугольник_4_копия_4 {
border-width: 3px;
border-color: rgb( 239, 25, 18 );
border-style: solid;
width: 561px;
height: 43px;
}





















.Руководство_по_приобретению_мотоциклов_с_японск {
	font-size: 18px;
	font-family: "Muller";
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height: 1.444;
}
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
	font-size: 14px;
	font-family: "Muller";
	color: rgb( 255, 255, 255 );
	line-height: 1.5;
	text-align: left;
	position: absolute;
	left: 561.524px;
	top: 2092.326px;
	width: 292px;
	height: 57px;
	z-index: 100;
}
/*35px*/

















.Статьи {
font-size: 12.751px;
font-family: "Muller";
color: rgb( 215, 215, 215 );
text-transform: uppercase;
line-height: 1.505;
text-align: center;
-moz-transform: matrix( 3.92124514763133,0,0,3.92124514763132,0,0);
-webkit-transform: matrix( 3.92124514763133,0,0,3.92124514763132,0,0);
-ms-transform: matrix( 3.92124514763133,0,0,3.92124514763132,0,0);
}
/*
font-size: 50px
lable of page section
font-wight: normal\
*/

.Супер_мото_скидки {
	font-size: 22px;
	font-family: "Muller";
	color: rgb( 215, 215, 215 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.955;
	text-align: center;
}
/*
posts: pots title
*/

.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
	font-size: 14px;
	font-family: "Muller";
	color: rgb( 215, 215, 215 );
	line-height: 1.5;
	text-align: center;
	width: 285px;
	height: 98px;
} /*posts: pots description*/

.Далее__→ {
	font-size: 16px;
	font-family: "Muller";
	color: rgb( 215, 215, 215 );
	font-weight: bold;
	line-height: 1.313;
	text-align: center;
} 
/*
posts: more link
height of post section
493
width of post tambnail: 300px
*/

.Прямоугольник_10 {
	background-color: rgb( 102, 99, 99 );
	box-shadow: 0px 29px 29px 0px rgb( 0, 0, 0 );
	width: 302px;
	height: 239px;
}
/*
space bettwin posts: 60px
next, before button:
width: 30px;
spase bettwin: 25px
*/

.Прямоугольник_13 {
	background-color: rgb( 0, 0, 0 );
	opacity: 0.388;
	width: 34px;
	height: 100%;
}
/*
35 bettwin post description and more
60 bettwin post image and post description
60 bettwin lable of section and section
170bettwin sections
*/