.filter-label {
	display: block;

	margin-bottom: 5px;
	line-height: 26px;
	text-transform: uppercase;
	font-family: MullerBold;
	font-size: 14px;
	color: #5A728B;
}
.filter__label--auction {
	margin-right: 30px;
}

.filter__label--range-slider {
	margin-left: 100px;
}

/* custom-colon */
.custom-colon {
	font-size: 18px;
	font-family: MullerBold; 
	/*font-weight: bold;*/
}