
/* Search */
.filter__search {
	position: relative;
	height: 25px; 
	width: 100px; 
	border: 1px solid #E8EAEC;
	/*border-right: none;*/
	margin-left: 30px;
	display: flex;

}
.filter__search-title {
	width: 100px;
	position: absolute;
	top: -16px;
	/*left: 30px;*/
	text-transform: lowercase;
	font-size: 13px;
	color: #A8B8C6;
}
input[type="text"].filter__search-value {
	width: 75px;
	height: 25px;
	border: none;
	box-sizing: border-box;
	padding-top: 4px;
	padding-left: 10px;
	font-family: MullerMedium;
	font-size: 14px;
	color: #4E4E4E;
}
input[type="submit"].filter__search-send {
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	padding-top: 4px;
	/*border: 1px solid #E8EAEC;*/
	/*border-left: none;*/
	border: none;
	font-family: MullerMedium;
	font-size: 14px;
	color: #4E4E4E;
	cursor: pointer;
}

/* new */
.search-lot {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-width: 1px;
	border-color: rgb( 204, 208, 212 );
	border-style: solid;
	background-color: rgb( 255, 255, 255 );
	box-shadow: 1.176px 1.618px 18px 0px rgb( 196, 201, 206 );
	width: 128px;
	height: 25px;
}
input[type="text"].search-lot__text {
	width: 85px;
	height: 25px;
	border: unset;
	text-indent: 10px;
	font-size: 14px;
	font-family: 'MullerMedium';
}
input[type="submit"].search-lot__search {
	min-height: 25px;
	min-width: 25px;
	border: unset;	
	font-size: 14px;
	font-family: 'MullerMedium';
	cursor: pointer;
}
button.search-lot__search {
	border: unset;	
	padding: 2px 10px 0 10px;
	min-height: 25px;
	min-width: 25px;
	font-size: 14px;
	font-family: 'MullerMedium';
	cursor: pointer;
}