<div id="sort" class="select" data-current="0" data-state="hide">
	<div class="select__items">
		<div class="select__items-item" data-value="default" data-index="0"> По умолчанию </div>
		<div class="select__items-item" data-value="name-asc" data-index="1"> По имени (А-Я) </div>
		<div class="select__items-item" data-value="name-desc" data-index="2"> По имени (Я-А)  </div>
		<div class="select__items-item" data-value="price-asc" data-index="3"> По цене (возрастание) </div>
		<div class="select__items-item" data-value="price-desc" data-index="4"> По цене (убывание) </div>
		<div class="select__items-item" data-value="rating-asc" data-index="5"> По рейтингу (возрастание) </div>
		<div class="select__items-item" data-value="rating-desc" data-index="6"> По рейтингу (убывание) </div>
		<div class="select__items-item" data-value="model-asc" data-index="7"> По модели (А-Я) </div>
		<div class="select__items-item" data-value="model-desc" data-index="8"> По модели (Я-А) </div>
	</div>
	<div class="select__button">
		<div class="select__button-arrow select__button-arrow--up"></div>
	</div>
	<input type="hidden" name="sort-value" name="sort-value" value="0">
</div>