html {
	/*overflow-y: hidden;*/
}
.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( 1, 9, 17, 0.9	);
	cursor: pointer;
}
.gallery__img-wrapper {
	height: 80%;
	padding: 5px;
	background: white;
	border: 1px solid #e2e2e2;
	max-width: none;
}
.gallery__img {
	height: 100%;
	max-width: none;
	/*opacity: 0.5;*/
}