.price--yen:after {
	content: ' Y';
}
.price--ru:after {
	content: ' ла';
}
.colon:after {
	content: ':';
}



.lot-statistics {
	width: 1170px;
}



.lot-statistics__clarification-wrapper {
	border-width: 1px;
	border-color: rgb( 203, 205, 209 );
	border-style: solid;
	box-sizing: border-box;
	height: 33px;
	width: 560px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 0 8px;
}
.lot-statistics__clarification {
	font-size: 14.047px;
	font-family: "Muller";
	color: rgb( 57, 57, 57 );
	line-height: 2.21;
	text-align: center;
	-moz-transform: matrix( 1,0,0,0.99663349230638,0,0);
	-webkit-transform: matrix( 1,0,0,0.99663349230638,0,0);
	-ms-transform: matrix( 1,0,0,0.99663349230638,0,0);
}
.lot-statistics__clarification--red {
	color: #ef1912;
}



/*********************************************/
.lot-statistics__average-price-wrapper {
	display: flex;
	width: 450px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.lot-statistics__average-price-title-wrapper {
	border-width: 1px;
	border-color: rgb( 224, 231, 237 );
	border-style: solid;
	box-sizing: border-box;
	width: 268px;
	height: 21px;
	padding: 0 8px;
}
.lot-statistics__average-price {
	font-size: 14px;
	font-family: "Muller";
	color: rgb( 53, 86, 118 );
	line-height: 1.314;
	text-align: center;
}
.lot-statistics__average-price-count {
	font-size: 15px;
	font-family: "MullerBold";
}
.lot-statistics__average-price-value {
	margin: 0 8px;
	font-size: 15px;
	font-family: "MullerBold";
	color: rgb( 153, 171, 188 );
	text-decoration: underline;
	line-height: 1.867;
	text-align: right;
}



/**/
.lot-statistics__order {
	display: flex;
	justify-content: space-between;
	border-width: 1px;
	border-color: rgb( 224, 231, 237 );
	border-style: solid;
	background-color: white;
	width: 1168px;
	height: 47px;
	margin-bottom: 8px;
}
.order__sale-statistics-text-wrapper {
	display: inline-block;
}
.order__sale-statistics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb( 83, 71, 91 );
	width: 150px;
	height: 100%;
}
.order__sale-statistics-text {
	font-size: 14px;
	font-family: "MullerBold";
	color: rgb( 255, 255, 255 );
	line-height: 1.286;
	text-align: left;
}
.order__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.order__content-wrapper {
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	margin: 0 30px;
}
.order__content-label {
	font-size: 14px;
	font-family: "MullerBold";
	color: rgb( 85, 110, 136 );
	text-transform: uppercase;
	line-height: 1.214;
	margin-right: 15px;
	text-align: left;
}
.order__content-field {
	border-width: 1px;
	border-color: rgb( 204, 208, 212 );
	border-style: solid;
	width: 107px;
	height: 25px;
	padding: 0 8px;
	box-sizing: border-box;
}
.order__content-field-value {
	font-size: 15px;
	font-family: "MullerBold";
	color: rgb( 57, 57, 57 );
	line-height: 1.633;
	text-align: left;
}
.order__do-order-link-wrapper {
	text-decoration: none;
}
.order__do-order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb( 239, 25, 18 );
	width: 215px;
	height: 100%;
}
.order__do-order-text {
	font-size: 15px;
	font-family: "MullerBold";
	color: rgb( 255, 255, 255 );
	line-height: 1.133;
	text-align: center;
}



/**/
.lot-statistics__rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-width: 1px;
	border-color: rgb( 224, 231, 237 );
	border-style: solid;
	background-color: white;
	height: 79px;
	padding: 0 36px;
	margin-bottom: 8px;
}
.rating__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rating__label {
	font-size: 14px;
	font-family: "MullerBold";
	color: rgb( 57, 57, 57 );
	text-transform: uppercase;
	line-height: 1.214;
	text-align: center;
	margin-right: 5px;
}
.rating__ball {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-width: 1px;
	border-color: rgb( 196, 201, 206 );
	border-style: solid;
	border-radius: 50%;
	background-color: rgb( 255, 255, 255 );
	box-shadow: 1.176px 1.618px 2px 0px rgb( 196, 201, 206 );
	width: 23px;
	height: 23px;
	font-size: 18px;
	font-family: "MullerBold";
	color: rgb( 96, 108, 121 );
}



/**/
.lot-statistics__lot-info {
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	border-style: solid;
	background-color: rgb( 255, 255, 255 );
	min-height: 669px;
	padding: 46px 25px;
}
.lot-info__photos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 24px;
}
.photos__img-wrapper {
	margin-bottom: 20px;
}
.photos__img {
	max-width: 264px;
	height: auto;
}




/**/
.lot-statistics__characteristics {

}
.characteristics__row {
	margin-top: 20px;
}
.row__title {
	display: block;
	border-bottom: 1px solid rgb(227, 227, 227);
	font-family: "Muller";
	font-size: 25px;
	line-height: 1.16;
	text-indent: 20px;
	color: rgb( 57, 57, 57 );
}
.row__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.row__definitions {
	width: 50%;
	border-top: 1px solid rgb(227, 227, 227);
	margin-right: 30px;
}
.row__definitions-row {
	display: flex;
	border-bottom: 1px solid rgb(227, 227, 227);
}
.definitions-row__part {
	display: flex;
	align-items: center;
	padding: 5px 0;
	min-height: 64px;
	box-sizing: border-box;
}
.definitions-row__part--definition {
	width: 45%;
	background-color: rgb( 242, 242, 242 );
	border-right: 1px solid rgb(227, 227, 227);
}
.definitions-row__part--description {
	width: 55%;
}
.definitions-row__text {
	margin-left: 20px;
	font-size: 14px;
	font-family: "Muller";
	color: rgb( 80, 80, 80 );
	line-height: 1.714;
}
.row__photos {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.row__photo-wrapper {
	cursor: pointer;
	opacity: 0.3;
}
.row__photo-wrapper:hover {
	opacity: 1;
}
.row__photo-img {
	max-width: 125px;
}