.available {
	/*display: flex;*/
	/*flex-direction: column;*/
	min-width: 1170px;
}


.available__header {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	/*justify-content: center;*/
	align-items: center;
	height: 49px;
	padding: 0 235px;
	background-color: rgb( 224, 231, 237 );
	box-shadow: 1.176px 1.618px 2px 0px rgb( 196, 201, 206 );
	margin-bottom: 11px;
}
.available__header > * {
	margin-right: 15px;
}
.available__header-lable {
	font-size: 14px;
	font-family: "MullerMedium";
	font-weight: bold;
	text-transform: capitalize;
	line-height: 2.857;
	color: rgb( 30, 50, 76 );
	margin-left: 15px;
}

.available__header-contetn {
}

.available__stream {
	width: 100%;
}

.available__article--horizontal {
	display: flex;
	flex-direction: row;
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	border-style: solid;
	background-color: rgb( 255, 255, 255 );
	width: 100%;
	max-height: 219px;
	margin-bottom: 9px;
}

.article__image {
	width: 300px;
}

.article__image-img {
	display: block;
	height: auto;
	width: 100%;
}

.article__content {
	box-sizing: border-box;
	width: 870px;
	padding: 30px 70px;
}

.article__header {
	font-family: "MullerMedium";
}
.article__header-title {
	font-size: 18px;
	line-height: 1.556;
	margin-bottom: 9px;
}
.article__header-model {
	color: rgb( 13, 110, 184 );
	text-transform: uppercase;
}
.article__header-price {
	margin-left: 70px;
	color: #444444;
}
.aritcle__header-scope {
	font-size: 14px;
	color: rgb( 80, 80, 80 );
	margin-bottom: 18px;
}

.article__description {
	font-size: 14px;
	font-family: "Muller";
	color: rgb( 80, 80, 80 );
	line-height: 1.5;
	text-align: left;
	top: 654.073px;
	max-height: 77px
}
.article__description-moto {
	text-transform: uppercase;
}
