@font-face {
	font-family: 'MullerHeavy';
	src: url(../fonts/MullerHeavy.otf);
}

@font-face {
	font-family: 'MullerMedium';
	src: url('../fonts/MullerMedium.otf');
}

@font-face {
	font-family: 'MullerExtraBold';
	src: url('../fonts/MullerExtraBold.otf');
}

@font-face {
	font-family: 'MullerBold';
	src: url('../fonts/MullerBold.otf');
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller.otf');
}